{% extends 'base.html' %}{% block title %}
{{ current_user['fname'] }} {{ current_user['lname'] }}
{% endblock title %}

{% block style %}
<style>
    .Userimage {
        background-image: url("{{ url_for('static', filename='profile_pic/' + current_user.profile_pic) }}");
    }
</style>
{% endblock style %}

{% block content %}

<div class="container-fluid userInfo">
    <div id="upload-image-form" style="display: none;">
        <div class="close-icon" onclick="toggleUploadForm()">

            <i class="bi bi-x-circle"></i>
        </div>


        <form id="upload-form" class="shadow" action="/profile/profile_pic/upload" method="POST"
            enctype="multipart/form-data">

            <div class="d-flex flex-column w-100 px-4 pp-upload-div ">
                <div class="mb-2">

                    <label for="image"><strong>Select Image (JPG or PNG only):</strong></label>
                </div>
                <div class="mb-2">

                    <input type="file" class="btn btn-dark" id="image" name="image" accept="image/jpeg,image/png"
                        required>
                </div>
                <div class="mb-2">

                    <button type="submit" class="btn btn-dark">Upload</button>
                    <button type="button" class="btn btn-danger delete-btn" id="delete-pic" {% if
                        profile_pic=='default.jpg' %}disabled{% endif %} onclick="deleteProfilePic()">Delete</button>
                </div>
            </div>
        </form>

    </div>

    <div class="text-center py-3 h-100">
        <div class="row align-items-center h-100">
            <div class="col-4 h-100">
                <div class="card border-0 h-100">
                    <div class="Userimage">
                        <button class="edit-profile-pic" onclick="toggleUploadForm()">
                            <i class="bi bi-pencil-square edit-button-icon"></i>
                        </button>

                    </div>

                </div>
            </div>
            <div class="col-8 h-100">
                <div class="card h-100 shadow px-5 ">


                    <div class="name mt-5 d-flex">
                        <span style="margin-right: 2em;"><strong>Name: </strong></span>{{ current_user.fname }} {{
                        current_user.lname }}
                    </div>
                    <div class="name mt-2 d-flex">
                        <span style="margin-right: 2em;"><strong>email: </strong></span>{{ current_user.email }}
                    </div>
                    <div class="name my-2 d-flex">
                        <span style="margin-right: 2em;"><strong>phone: </strong></span>+91 {{ current_user.phone }}
                    </div>
                    <div class="name mb-5 d-flex">
                        <span style="margin-right: 2em;"><strong>Joined: </strong></span>{{
                        current_user.created_at.strftime('%d-%m-%Y') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}